body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    color: black;
    align-items: center;
    overflow-y: auto;
}

.calculator {
    margin: auto;
    margin-top: 100px;
    border: 5px solid black;
    height: 600px;
    width: 480px;
    display: flex;
    flex-direction: column;
}

.calculator div {
    flex: 1;
    justify-content: space-between;
    
}

div.output {
    line-height: 50px;
    text-align: right;
    flex: .1;
    border: 1px solid black;
    margin: 10px;
    font-size: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.row {
    
    display: flex;
    flex-direction: row;
}

.row div {
    margin: 5px;
    text-align: center;
    line-height: 80px;
    border: 1px solid black;
}

.clearRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.clearRow .clearRest {
    display: flex;
    text-align: center;
    line-height: 80px;
    flex: 1;
    margin: 5px;
    
}

.clearRest {
    gap: 10px;
}

.clearRest div {
    border: 1px solid black;
}

.clearRow .clear {
    border: 1px solid black;
    flex: 1;
    text-align: center;
    line-height: 80px;
    margin: 5px;
}

.rowEqual .restEqual {
    display: flex;
    flex-direction: row;
    border: none;
    gap: 10px;
}
.restEqual div {
    margin: 0px;
    
}